<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insigma.ordercenter.mapper.UserShopRelationMapper">
    <!-- 获取所有在使用中的店铺列表 -->
    <select id="listEnabledShop" resultType="com.insigma.ordercenter.entity.vo.ShopInfoVO">
        SELECT s.shop_id, s.shop_name FROM t_shop s
        WHERE s.is_deleted = 0
        AND s.is_stop = 0
    </select>

    <select id="listShopByUserId" resultType="com.insigma.ordercenter.entity.vo.ShopInfoVO">
        SELECT r.shop_id FROM t_user_shop_relation r
        WHERE r.user_id = #{userId}
    </select>

</mapper>
