<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insigma.ordercenter.mapper.ExpressCompanyMapper">

    <select id="getCompanyList" resultType="com.insigma.ordercenter.entity.vo.ExpressCompanyListVO">
        SELECT
            ex.express_company_id,
            ex.company_name,
            ex.company_no,
            ex.create_time,
            ex.remark,
            ex.is_stop,
            ex.create_id,
            su.user_name as createName
            FROM
            t_express_company ex
            LEFT JOIN sys_user su ON ex.create_id = su.user_id
            WHERE
            ex.is_deleted = 0
        <if test="companyName != null and companyName != ''">
            AND ex.company_name like #{companyName}
        </if>
        <if test="companyNo != null and companyNo != ''">
            AND ex.company_no like #{companyNo}
        </if>
        <if test="expressCompanyListDTO.isStop != null">
            AND ex.is_stop = #{orderSource.isStop}
        </if>
    </select>
</mapper>
