<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insigma.ordercenter.mapper.OrderMapper">

    <select id="queryOrderListPage" resultType="com.insigma.ordercenter.entity.vo.OrderListVO">
        SELECT
        o.order_id,
        o.order_no,
        o.order_status,
        sp.platform_name,
        sp.shop_id,
        sp.platform_no,
        sp.shop_name,
        o.create_time,
        o.review_time,
        ( SELECT MIN( tso.send_time ) FROM t_shipping_order tso WHERE tso.shipping_order_id = so.shipping_order_id ) send_time,
        so.receive_name,
        so.mobile_phone,
        o.error_reason,
        o.is_combined,
        o.is_hand_order,
        sr.address,
        sr.location_city,
        sr.province,
        sr.receive_remark,
        sr.receive_name as sendReceiveName,
        sr.mobile_phone as receiveMobilePhone,
        o.origin_order_no,
        o.order_time
        FROM
        t_order o
        LEFT JOIN t_shop sp ON o.shop_id = sp.shop_id
        left join t_user_shop_relation usr on usr.shop_id=sp.shop_id
        LEFT JOIN t_shipping_order so ON o.order_id = so.order_id
        LEFT JOIN t_order_send_receive sr ON o.order_id = sr.order_id
        WHERE
        1 =1 and usr.user_id=#{orderDTO.userId}
        <if test="orderDTO.orderId != null and orderDTO.orderId != ''">
            AND o.order_id = #{orderDTO.orderId}
        </if>
        <if test="orderDTO.orderStatus != null and orderDTO.orderStatus != ''">
            AND o.order_status in #{orderDTO.orderStatus}
        </if>
        <if test="orderDTO.orderNo != null and orderDTO.orderNo != ''">
            AND o.order_no = #{orderDTO.orderNo}
        </if>
        <if test="orderDTO.shippingOrderId != null">
            AND so.shipping_order_id = #{orderDTO.shippingOrderId}
        </if>
        <if test="orderDTO.reviewTimeStart != null">
            AND o.review_time &gt;= #{orderDTO.reviewTimeStart} and o.review_time &lt;= #{orderDTO.reviewTimeEnd}
        </if>
        <if test="orderDTO.createTimeStart != null">
            AND o.order_time &gt;= #{orderDTO.createTimeStart} and o.order_time &lt;= #{orderDTO.createTimeEnd}
        </if>
        <if test="orderDTO.sendTimeStart != null">
            AND o.send_time &gt;= #{orderDTO.sendTimeStart} and o.send_time &lt;= #{orderDTO.sendTimeEnd}
        </if>
        <if test="orderDTO.receiveName != null">
            AND so.receive_name = #{orderDTO.receiveName}
        </if>
        <if test="orderDTO.mobilePhone != null">
            AND so.mobile_phone = #{orderDTO.mobilePhone}
        </if>
        <if test="orderDTO.isCombined != null">
            AND o.is_combined = #{orderDTO.isCombined}
        </if>
        <if test="orderDTO.splitOrder != null">
            AND o.split_order = #{orderDTO.splitOrder}
        </if>
        group  by o.create_time desc
    </select>

    <resultMap id="orderDetailMap" type="com.insigma.ordercenter.entity.vo.OrderDetailExamineVO">
        <id column="order_detail_id" property="orderDetailId"/>
        <result column="order_id" property="orderId"/>
        <result column="product_id" property="productId"/>
        <result column="product_sku" property="productSku"/>
        <result column="product_name" property="productName"/>
        <result column="product_price" property="productPrice"/>
        <result column="product_specs" property="productSpecs"/>
        <result column="unit" property="unit"/>
        <result column="amount" property="amount"/>
        <collection column="{productId=product_id}" property="warehouseExamineVOS" ofType="com.insigma.ordercenter.entity.vo.WarehouseExamineVO" select="queryWarehouse"/>
    </resultMap>

    <resultMap id="WarehouseExamineMap" type="com.insigma.ordercenter.entity.vo.WarehouseExamineVO">
        <id column="warehouse_id" property="warehouseId"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="district" property="district"/>
        <result column="address" property="address"/>
        <result column="region_id" property="regionId"/>
        <result column="warehouse_no" property="warehouseNo"/>
        <result column="warehouse_name" property="warehouseName"/>
    </resultMap>

    <!--根据订单查询，订单明细和仓库列表-->
    <select id="queryOrderDetailList" resultMap="orderDetailMap">
        SELECT
            od.order_detail_id,
            od.product_sku,
            od.product_name,
            od.product_specs,
            od.unit,
            od.product_price,
            od.amount,
            od.product_id,
            od.order_id
        FROM
            t_order o
            LEFT JOIN t_order_detail od ON o.order_id = od.order_id
        WHERE
            o.order_id = #{orderId}
    </select>

    <!--根据仓库查询物流列表-->
    <select id="queryWarehouse" resultMap="WarehouseExamineMap">
        SELECT
            w.warehouse_id,
            w.province,
            w.city,
            w.district,
            w.address,
            w.region_id,
            w.warehouse_no,
            w.warehouse_name
        FROM
            t_product p
            LEFT JOIN t_warehouse_product_relation pr ON p.product_id = pr.product_id
            LEFT JOIN t_warehouse w ON pr.warehouse_id = w.warehouse_id
        WHERE
            p.product_id =#{productId}
    </select>

    <!--根据仓库关联出对应的物流信息-->
    <select id="queryExpressCompany" resultType="com.insigma.ordercenter.entity.vo.ExpressCompanyVO">
        SELECT
            ec.company_name,
            ec.company_no,
            ec.express_company_id
        FROM
            t_express_warehouse_relation wr
            LEFT JOIN t_express_company ec ON wr.express_company_id = ec.express_company_id
        WHERE
            wr.warehouse_id = #{warehouseId}
    </select>

    <!--根据订单Id查询发货单列表信息-->
    <select id="cancelOrder" resultType="com.insigma.ordercenter.entity.vo.ShippingOrderCancelVO">
        SELECT
            so.shipping_order_id,
            so.warehouse_id,
            so.express_company_id,
            so.express_no,
            so.create_id,
            so.create_time,
            so.modify_id,
            so.modify_time,
            so.is_deleted,
            so.`status`,
            so.receive_name,
            so.mobile_phone,
            so.request_time,
            so.address,
            so.receive_remark,
            so.is_combined,
            so.is_refuse,
            so.shipping_order_no,
            so.send_time,
            so.express_fee
        FROM
             t_shipping_order so
        WHERE
            so.order_id = #{orderId}
    </select>


    <select id="queryShippingOrderListByOrderId" resultType="com.insigma.ordercenter.entity.dto.AddShippingOrderDTO">
      SELECT
            so.shipping_order_id,
            so.warehouse_id,
            so.express_company_id,
            so.express_no,
            so.create_id,
            so.create_time,
            so.modify_id,
            so.modify_time,
            so.is_deleted,
            so.`status`,
            so.receive_name,
            so.mobile_phone,
            so.request_time,
            so.address,
            so.receive_remark,
            so.is_combined,
            so.is_refuse,
            so.shipping_order_no,
            so.send_time,
            so.express_fee,
            ec.company_name
        FROM
            t_shipping_order so
            LEFT JOIN t_express_company ec ON so.express_company_id = ec.express_company_id
        WHERE
            so.order_id = #{orderId}
    </select>



    <!--查询订单和发货单列表，以及订单详细列表-->
    <resultMap id="orderResultMap" type="com.insigma.ordercenter.entity.vo.OrderListVO" >
        <id column="order_id" property="orderId" jdbcType="BIGINT" />
        <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
        <result column="order_status" property="orderStatus" jdbcType="TINYINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="shop_id" property="shopId" jdbcType="BIGINT" />
        <result column="consumer_name" property="consumerName" jdbcType="VARCHAR" />
        <result column="mobile_phone" property="mobilePhoneOrder" jdbcType="VARCHAR" />
        <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
        <result column="is_combined" property="isCombined" jdbcType="TINYINT" />
        <result column="origin_order_no" property="originOrderNo" jdbcType="VARCHAR" />
        <result column="fee" property="fee" jdbcType="DECIMAL" />
        <result column="error_reason" property="errorReason" jdbcType="VARCHAR" />
        <result column="is_period" property="isPeriod" jdbcType="TINYINT" />
        <result column="period_order_id" property="periodOrderId" jdbcType="BIGINT" />
        <result column="review_time" property="reviewTime" jdbcType="TIMESTAMP" />
        <result column="is_hand_order" property="isHandOrder" jdbcType="TINYINT" />
        <result column="split_order" property="splitOrder" jdbcType="TINYINT" />

        <collection column="{orderId=order_id}" property="shippingOrderVOS" ofType="com.insigma.ordercenter.entity.vo.ShippingOrderVO" select="queryShippingOrderList"/>
    </resultMap>


    <resultMap id="shippingResultMap" type="com.insigma.ordercenter.entity.vo.ShippingOrderVO">
        <id column="shipping_order_id" jdbcType="BIGINT" property="shippingOrderId" />
        <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
        <result column="express_company_id" jdbcType="BIGINT" property="expressCompanyId" />
        <result column="express_no" jdbcType="VARCHAR" property="expressNo" />
        <result column="create_id" jdbcType="BIGINT" property="createId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modify_id" jdbcType="BIGINT" property="modifyId" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="receive_name" jdbcType="VARCHAR" property="receiveName" />
        <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
        <result column="request_time" jdbcType="TIMESTAMP" property="requestTime" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="receive_remark" jdbcType="VARCHAR" property="receiveRemark" />
        <result column="is_combined" jdbcType="TINYINT" property="isCombined" />
        <result column="is_refuse" jdbcType="TINYINT" property="isRefuse" />
        <result column="shipping_order_no" jdbcType="VARCHAR" property="shippingOrderNo" />
        <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
        <result column="express_fee" jdbcType="DECIMAL" property="expressFee" />
        <result column="order_detail_id" jdbcType="BIGINT" property="orderDetailId" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
        <collection column="{shippingOrderId=shipping_order_id}" property="orderDetailVOS" ofType="com.insigma.ordercenter.entity.vo.OrderDetailVO" select="queryOrderDetailLists"/>
    </resultMap>


    <resultMap id="shippingOrderDetailMap" type="com.insigma.ordercenter.entity.vo.OrderDetailVO">
        <id column="order_detail_id" property="orderDetailId"/>
        <result column="order_id" property="orderId"/>
        <result column="product_id" property="productId"/>
        <result column="product_sku" property="productSku"/>
        <result column="product_name" property="productName"/>
        <result column="product_price" property="productPrice"/>
        <result column="product_specs" property="productSpecs"/>
        <result column="unit" property="unit"/>
        <result column="amount" property="amount"/>
        <result column="total_price" property="totalPrice"/>
        <result column="is_gift" property="isGift"/>
    </resultMap>

    <select id="queryOrderById" resultMap="orderResultMap">
        SELECT
            o.order_id,
            o.order_no,
            o.order_status,
            o.create_time,
            o.shop_id,
            o.consumer_name,
            o.mobile_phone,
            o.total_price,
            o.is_combined,
            o.fee,
            o.error_reason,
            o.is_period,
            o.period_order_id,
            o.review_time,
            o.is_hand_order,
            o.split_order,
            o.is_hand_order
        FROM
            t_order o
        WHERE
            o.order_id = #{orderId}
    </select>

    <select id="queryShippingOrderList" resultMap="shippingResultMap">
       SELECT
        so.shipping_order_id,
        so.warehouse_id,
        so.express_company_id,
        so.express_no,
        so.create_id,
        so.create_time,
        so.modify_id,
        so.modify_time,
        so.is_deleted,
        so.`status`,
        so.receive_name,
        so.mobile_phone,
        so.request_time,
        so.address,
        so.receive_remark,
        so.is_combined,
        so.is_refuse,
        so.shipping_order_no,
        so.send_time,
        so.express_fee,
        ec.company_name,
        ec.company_no,
        ec.remark,
        su.user_name,
        wa.warehouse_name
    FROM
        t_shipping_order so
        LEFT JOIN t_express_company ec ON so.express_company_id = ec.express_company_id
        left join t_warehouse wa on so.warehouse_id=wa.warehouse_id
        LEFT JOIN sys_user su ON su.user_id = so.create_id
    WHERE
        so.order_id =#{orderId}
    </select>

    <select id="queryOrderDetailLists" resultMap="shippingOrderDetailMap">
        SELECT
            od.order_detail_id,
            od.order_id,
            od.product_id,
            od.product_sku,
            od.product_name,
            od.product_price,
            od.product_specs,
            od.unit,
           ( SELECT sum( pr.quantity ) FROM t_warehouse_product_relation pr WHERE pr.product_id = od.product_id ) quantity,
            od.total_price,
            od.is_gift
        FROM
            t_detail_shipping_order_relation sor
            LEFT JOIN t_order_detail od ON sor.order_detail_id = od.order_detail_id
        WHERE
            sor.shipping_order_id = #{shippingOrderId}
    </select>


    <!--根据订单ID查询原始订单信息-->
    <select id="queryOriginalOrderList" resultType="com.insigma.ordercenter.entity.vo.OriginalOrderVO">
        SELECT
            oo.original_order_id,
            oo.order_no,
            oo.create_time,
            oo.shop_id,
            oo.consumer_name,
            oo.mobile_phone,
            oo.total_price,
            oo.address,
            oo.remark,
            oo.order_id
        FROM
            t_original_order oo
        WHERE
            oo.order_id = #{orderId}
    </select>


    <!--根据订单ID查询退换货信息-->
    <select id="queryRefundInfo" resultType="com.insigma.ordercenter.entity.vo.RefundInfoVO">
        SELECT
            re.refund_id,
            re.order_id,
            re.refund_no,
            re.refund_type,
            re.source_type,
            re.create_time,
            re.audit_status,
            re.audit_id,
            re.reason,
            re.audit_time,
            re.`status`,
            re.refund_money
        FROM
            t_refund re
        WHERE
            re.order_id = #{orderId}
    </select>

    <!--根据订单ID查询订单操作日志信息-->
    <select id="queryOrderOperationLogInfo" resultType="com.insigma.ordercenter.entity.vo.OrderOperationLogVO">
        SELECT
            ol.order_operation_log_id,
            ol.order_id,
            ol.create_id,
            ol.create_time,
            ol.content,
            su.user_name
        FROM
            t_order_operation_log ol
            LEFT JOIN sys_user su ON ol.create_id = su.user_id
        WHERE
            su.is_deleted = 0
            AND su.is_deleted =0
            AND ol.order_id = #{orderId}
    </select>



</mapper>
