<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insigma.ordercenter.mapper.PhoneBlacklistStrategyMapper">

    <select id="listPhoneBlackPage" resultType="com.insigma.ordercenter.entity.vo.PhoneBlackVO">
        SELECT
            pb.phone_blacklist_strategy_id,
            pb.phone,
            pb.reason,
            s.shop_name
        FROM
            t_phone_blacklist_strategy pb
        LEFT JOIN t_shop s ON s.shop_id = pb.shop_id
        WHERE
            pb.is_deleted = 0
        AND pb.strategy_id = #{param.strategyId}
        <if test="null != param.searchKey and param.searchKey != ''">
            AND pb.phone LIKE CONCAT('%', #{param.searchKey}, '%')
        </if>
        <if test="null != param.shopId">
            AND pb.shop_id = #{param.shopId}
        </if>
    </select>

</mapper>
