<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insigma.ordercenter.mapper.ShippingOrderMapper">

    <select id="getShippingOrderList" resultType="com.insigma.ordercenter.entity.vo.ShippingOrderVO">
        SELECT
                a.shipping_order_id,
                a.shipping_order_no,
                a.warehouse_id,
                b.warehouse_name,
                a.express_company_id,
                c.company_name,
                a.express_no,
                d.user_name AS createName,
                a.create_id,
                a.create_time,
                a.`status`,
                a.is_combined,
                a.exception_reason,
                e.order_no,
                e.order_time AS orderNoCreateTime
            FROM
                t_shipping_order AS a
        LEFT JOIN t_warehouse b ON a.warehouse_id=b.warehouse_id
        LEFT JOIN t_express_company c ON a.express_company_id=c.express_company_id
        LEFT JOIN sys_user d ON a.create_id=d.user_id
        LEFT JOIN t_order e ON a.order_id=e.order_id
        WHERE 1=1
        <if test="shippingOrderDTO.shippingNo !=null and shippingOrderDTO.shippingNo !=''">
            AND a.shipping_order_no=#{shippingOrderDTO.shippingNo}
        </if>
        <if test="shippingOrderDTO.expressNo !=null and shippingOrderDTO.expressNo !=''">
            AND a.express_no=#{shippingOrderDTO.shippingNo}
        </if>
        <if test="shippingOrderDTO.status !=null and shippingOrderDTO.status !=''">
            AND a.`status` IN(${shippingOrderDTO.status})
        </if>
    </select>


    <select id="getShippingDetail" resultType="com.insigma.ordercenter.entity.vo.ShippingOrderDetailVO">
       	SELECT
            a.shipping_order_id,
            a.order_id,
            c.order_no,
		    e.shop_name AS source,
			d.receive_name,
			d.mobile_phone,
		    d.province,
			d.location_city,
			d.address,
            d.postal_code,
            a.`status`
        FROM
            t_shipping_order a
        LEFT JOIN t_order c ON c.order_id = a.order_id
		LEFT JOIN t_order_send_receive d ON a.order_id=d.order_id
		LEFT JOIN t_shop e ON c.shop_id=e.shop_id
        WHERE a.shipping_order_id=#{shippingOrderId}
    </select>

    <select id="getShippingOrderIdByProductType" resultType="Long">
        SELECT
            shipping_order_id
        FROM
            t_shipping_order so
        LEFT JOIN t_order_detail od ON so.order_id = od.order_id
        WHERE 1=1
          and od.order_detail_id = #{orderDetailId}
    </select>
</mapper>
