<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insigma.ordercenter.mapper.ShopProductMapper">

    <select id="getProductRatio" resultType="com.insigma.ordercenter.entity.vo.ShopProductVO">
    SELECT
        IFNULL(b.spid,0) AS spid,
        a.shop_id,
        a.shop_name,
        IFNULL(b.ratio,0) AS ratio,
        IFNULL(b.number,0) AS number,
        IFNULL(b.warning_value,0) AS warningValue
    FROM
        t_shop a
    LEFT JOIN t_shop_product b ON a.shop_id=b.shop_id AND b.product_id=#{productId}
    WHERE
        a.is_stop = 0
    AND a.is_deleted = 0
    </select>

    <select id="selectList" resultType="com.insigma.ordercenter.entity.ShopProduct">
    SELECT b.* FROM
        t_shop a
    LEFT JOIN t_shop_product b ON a.shop_id=b.shop_id AND b.product_id=#{productId}
    WHERE
        a.is_stop = 0
    AND a.is_deleted = 0
    </select>
</mapper>
