<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insigma.ordercenter.mapper.ShopMapper">
    <update id="edit" >
update  platform_name = #{platformName}, remark = #{remark} , platform_no  =#{platformNo} where shop_id= #{shopId}
    </update>
    <update id = "delete">
 update t_shop set is_deleted = 1 where shop_id= #{id}
    </update>

    <update id="setting" >
update  url_address = #{urlAddress}, request_time = #{requestTime} , account  =#{account} ,password=#{password} where shop_id= #{shopId}
    </update>

    <update id="disable" >
 update t_shop set is_stop =1 where shop_id= #{id}
    </update>

    <update id="enable" >
 update t_shop set is_stop = 0 where shop_id= #{id}
    </update>

    <select id="list" resultType="com.insigma.ordercenter.entity.dto.shop.ShopQueryResponse">
        SELECT shop_id,shop_name,user_name as createName,platform_name,remark,s.platform_no,s.create_id,s.create_time,is_stop,s.is_deleted,s.url_address,request_time,account,`password` FROM `t_shop` s left join sys_user su on s.create_id= su.user_id where  1=1
        and s.is_deleted = 0
  <if test=" request.shopName != null and request.shopName != ''">
        AND s.shop_name = #{request.shopName}
    </if>
    </select>
</mapper>
