<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insigma.ordercenter.mapper.WarehouseMapper">

    <select id="page" resultType="com.insigma.ordercenter.entity.vo.WarehouseVo">
        SELECT
           wh.warehouse_id,
           wh.province,
           wh.city,
           wh.district,
           wh.address,
           wh.region_id,
           wh.latitude,
           wh.longitude,
           wh.warehouse_no,
           wh.warehouse_name,
           wh.create_id,
           wh.create_time,
           wh.manager_name,
           wh.modify_id,
           wh.modify_time,
           wh.is_deleted,
           wh.remark,
           wh.mobile_phone,
           wh.order_source_id,
           wh.express_company_id,
           os.source_name as orderSourceName,
           ec.company_name as expressCompanyName
        FROM
             t_warehouse wh
        LEFT JOIN t_order_source os
        on wh.order_source_id = os.order_source_id
        LEFT JOIN t_express_company ec
        on wh.express_company_id = ec.express_company_id
    </select>

    <select id="list" resultType="com.insigma.ordercenter.entity.dto.WarehouseProductPage">
       SELECT  wpr.* , p.* FROM t_warehouse w
left join `t_warehouse_product_relation` wpr
on w.warehouse_id = wpr.warehouse_id
left join t_product p on p.product_id = wpr.product_id where w.warehouse_id =  #{request.warehouseId}
        <if test=" request.name != null and request.name != ''">
            AND p.product_name = #{request.name}
        </if>
        <if test=" request.no != null and request.no != ''">
            AND p.product_no = #{request.no}
        </if>
    </select>
    <delete id="removeProduct">
        delete from t_warehouse_product_relation where warehouse_id = #{warehouseId} and product_id =#{productId}
    </delete>

    <select id="updateWarningCount" >
update  t_warehouse_product_relation set warning_count=#{warningCount}  where warehouse_id= #{warehouseId} and product_id =#{productId}
    </select>

    <select id="getWarningCount" resultType="int">
select warning_count from t_warehouse_product_relation where warehouse_id= #{warehouseId} and product_id =#{productId}
    </select>

</mapper>
