<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insigma.ordercenter.mapper.ExpressFeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.insigma.ordercenter.entity.ExpressFee">
        <id column="express_fee_id" property="expressFeeId" />
        <result column="express_company_id" property="expressCompanyId" />
        <result column="province" property="province" />
        <result column="warehouse_id" property="warehouseId" />
        <result column="warehouse_name" property="warehouseName" />
        <result column="first_weight" property="firstWeight" />
        <result column="first_price" property="firstPrice" />
        <result column="additional_price" property="additionalPrice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        express_fee_id, express_company_id, province, warehouse_id, warehouse_name, first_weight, first_price, additional_price
    </sql>


    <select id="page" resultType="com.insigma.ordercenter.entity.vo.ExpressFeePageVO">
        select

<include refid="Base_Column_List" />
        from t_express_fee where 1=1
            express_fee_id Long
                <if test="#{request.expressFeeId}!= null and #{request.expressFeeId} >0">
                and   express_fee_id=#{request.expressFeeId}
                </if>
            express_company_id Long
                <if test="#{request.expressCompanyId}!= null and #{request.expressCompanyId} >0">
                and   express_company_id=#{request.expressCompanyId}
                </if>
            province String
                <if test="#{request.province} != null and #{request.province} != ''">
                    and   province=#{request.province}
                </if>
            warehouse_id Long
                <if test="#{request.warehouseId}!= null and #{request.warehouseId} >0">
                and   warehouse_id=#{request.warehouseId}
                </if>
            warehouse_name String
                <if test="#{request.warehouseName} != null and #{request.warehouseName} != ''">
                    and   warehouse_name=#{request.warehouseName}
                </if>
            first_weight BigDecimal
                <if test="#{request.firstWeight}!= null and #{request.firstWeight} >0">
                and   first_weight=#{request.firstWeight}
                </if>
            first_price BigDecimal
                <if test="#{request.firstPrice}!= null and #{request.firstPrice} >0">
                and   first_price=#{request.firstPrice}
                </if>
            additional_price BigDecimal
                <if test="#{request.additionalPrice}!= null and #{request.additionalPrice} >0">
                and   additional_price=#{request.additionalPrice}
                </if>
    </select>
</mapper>
